<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>182625859529-tosf9gmq3ihn2m6c4ulmo9v83n7u69nf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.182625859529-tosf9gmq3ihn2m6c4ulmo9v83n7u69nf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>182625859529-8f69cqj9ifq1103b6qqg6r3prlnu19sk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfO2cUJFnJ4Uu6xEveH1uvdcEh1fZEGqc</string>
	<key>GCM_SENDER_ID</key>
	<string>182625859529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.workwithafridi.mooz.mooz</string>
	<key>PROJECT_ID</key>
	<string>mooz-f3c95</string>
	<key>STORAGE_BUCKET</key>
	<string>mooz-f3c95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:182625859529:ios:f047127cd677accf731a18</string>
</dict>
</plist>